{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <meta name="HandheldFriendly" content="true"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ "images/apple-touch-icon-precomposed-152.png"|resolveAsset }}">
    <link rel="shortcut icon" href="{{ "gitbook-plugin-buddybuild/favicon.ico"|resolveAsset }}" type="image/x-icon">
{% endblock %}

{% block style %}
    {### Include theme css before plugins css ###}
    <link rel="stylesheet" href="{{ "style.css"|resolveAsset }}">

    {### Custom stylesheets for the book ###}
    <link rel="stylesheet" href="{{ "../_js/highlight/styles/default.css" |resolveAsset }}">
    <link rel="stylesheet" href="{{ "../_js/highlight/styles/github.css" |resolveAsset }}">

  {% for resource in plugins.resources.css -%}
    {% if resource.url -%}
    <link rel="stylesheet" href="{{ resource.url }}">
    {% else -%}
      {% if resource.path == 'gitbook-plugin-buddybuild/bb.css' -%}
      {% else -%}
    <link rel="stylesheet" href="{{ resource.path|resolveAsset }}">
      {% endif -%}
    {% endif -%}
  {% endfor -%}
    <link rel="stylesheet" href="{{ 'gitbook-plugin-buddybuild/bb.css'|resolveAsset }}">

  {% for type, style in config.styles -%}
    {% if fileExists(style) and type == "website" -%}
    <link rel="stylesheet" href="{{ style|resolveFile }}">
    {% endif -%}
  {% endfor -%}
{% endblock %}

{% block body %}{% endblock %}
