#book-search-input {
  margin-top: 10px;
  width: calc(100% - 370px);
}

.book-header .font-settings {
  display: none;
}

.book-summary ul.summary li[data-path*="/get-"] a,
.book-summary ul.summary li[data-path*="/post-"] a,
.book-summary ul.summary li[data-path*="/put-"] a,
.book-summary ul.summary li[data-path*="/delete-"] a {
  padding-left: 60px;
}

.markdown-section .apimethod code:before,
.book-summary ul.summary li[data-path*="/get-"]:before,
.book-summary ul.summary li[data-path*="/post-"]:before,
.book-summary ul.summary li[data-path*="/put-"]:before,
.book-summary ul.summary li[data-path*="/delete-"]:before {
  content: " ";
  width: 30px;
  font-family: proxima-nova, sans-serif;
  font-size: 7px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 3px;
  padding: 3px 2px;
  position: absolute;
  top: 5px;
  left: 15px;
  z-index: 1;
}

.markdown-section .apiget code:before,
.book-summary ul.summary li[data-path*="/get-"]:before {
  content: "GET";
  background-color: #6b5;
}

.markdown-section .apipost code:before,
.book-summary ul.summary li[data-path*="/post-"]:before {
  content: "POST";
  background-color: #28b;
}

.markdown-section .apiput code:before,
.book-summary ul.summary li[data-path*="/put-"]:before {
  content: "PUT";
  background-color: #978;
}

.markdown-section .apidelete code:before,
.book-summary ul.summary li[data-path*="/delete-"]:before {
  content: "DELETE";
  background-color: #e77;
}

.markdown-section .apimethod code {
  padding-left: 5em;
}

.markdown-section .apimethod code:before {
  font-size: 1em;
  top: -0.4em;
  left: 0;
  letter-spacing: 0;
  width: 4em;
}

.markdown-section .apimethod code:after {
  content: "";
  letter-spacing: 0;
}

